body {
  background-color: #2a9d8f;
  margin: 20px;
  color: #e9c46a;
  font-family: 'Hahmlet', serif;
}

h1 {
  text-align: center;
  color: #d62828;
  text-decoration: underline;
}

#back {
  background-color: #e76f51;
  border: solid #264653 1rem;
  width: 40%;
  border-radius: 1rem;
  padding: 1rem;
}

#school {
  background-color: #e76f51;
  border: solid #264653 1rem;
  width: 40%;
  border-radius: 1rem;
  padding: 1rem;
}

#work {
  background-color: #e76f51;
  border: solid #264653 1rem;
  width: 40%;
  border-radius: 1rem;
  padding: 1rem;
}

a {
  color: #d62828;
}

h3 {
  color: #d62828;
  text-decoration: underline;
}

.sidebar {
  float: right;
  background-color: #e76f51;
  color: #e9c46a;
  box-sizing: border-box;
  border: solid #264653 1rem;
  padding: 5px;
  border-radius: 1rem;
  font-size: large;
}

.sidebar ul {
  list-style-type: '🛫';
}

#PA {
  font-family: monospace;
}

.footer {
  margin: 10px;
  border: solid #264653 1rem;
  width: 10%;
  font-size: large;
  padding: .5rem;
}

.footer ul {
  list-style-type: '🍔';
}

p {
  font-size: larger;
}

