body {
  background-color: #2a9d8f;
  margin: 20px;
  color: #d62828;
}

h3 {
  text-align: center;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}

.col {
  background-color: #e76f51;
  color: #e9c46a;
  box-sizing: border-box;
  border: solid #264653 1rem;
  padding: 5px;
}

img {
  width: 30rem;
  border-radius: 5rem;
}

#list1 {
  list-style-type: '♾️';
}

#list2 {
  list-style-type: '🐼';
}

li {
  font-size: large;
}

p {
  font-size: larger;
}

.footer {
  margin: 10px;
  border: solid #264653 1rem;
  width: 10%;
  font-size: large;
  padding: .5rem;
}