body {
  background-color: #2a9d8f;
  margin: 20px;
  color: #e9c46a;
}

img {
  width: 30rem;
  border-radius: 5rem;
  height: auto;
}

.col {
  background-color: #e76f51;
  border: solid #264653 1rem;
  border-radius: 1rem;

}

a {
  color: #b5179e;
}

.col ul {
  list-style-type: '🔰';
  font-size: large;
}

.jumbotron {
  background-color: #e76f51;
  border: solid #264653 2rem;
  border-radius: 1rem;
  text-align: center;
}

.jummbotron h1 h4 {
  color: #d62828;
}

p {
  font-size: larger;
}
