body {
  background-color: #2a9d8f;
  margin: 20px;
  color: #e9c46a;
}

img {
  width: 30rem;
  border-radius: 5rem;
}

.col {
  background-color: #e76f51;
  border: solid #264653 1rem;
}

.col ul {
  list-style-type: disc;
}

.jumbotron {
  background-color: #e76f51;
  border: solid #264653 2rem;
}